:root {
    --font-size: min(4vh, min(5vw, 2em));
    --select-border-size: .08em;
    --assign-gap: .2em;
    --assign-padd: calc(var(--assign-gap) - var(--select-border-size));

    /* Assingment type colors */
    --test-s: 70%;
    --test-l: 70%;
    --dark-s: 35%;
    --dark-l: 50%;
    --PO-h: 120deg;
    --SET-h: 200deg;
    --MET-h: 60deg;
    --CSE-h: 260deg;

    --PO-color: hsl(var(--PO-h), var(--test-s), var(--test-l));
    --SET-color: hsl(var(--SET-h), var(--test-s), var(--test-l));
    --MET-color: hsl(var(--MET-h), var(--test-s), var(--test-l));
    --VAK-color: hsl(0, 0%, var(--test-l));
    --CSE-color: hsl(var(--CSE-h), var(--test-s), var(--test-l));
    
    --PO-color-dark: hsl(var(--PO-h), var(--dark-s), var(--dark-l));
    --SET-color-dark: hsl(var(--SET-h), var(--dark-s), var(--dark-l));
    --MET-color-dark: hsl(var(--MET-h), var(--dark-s), var(--dark-l));
    --VAK-color-dark: hsl(0, 0%, var(--dark-l));
    --CSE-color-dark: hsl(var(--CSE-h), var(--dark-s), var(--dark-l));

    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}

input, label {
    font-family: inherit;
    font-size: calc(var(--font-size) / 2);
}

input[type="button"] {
    padding: .1em .6em;
}
